{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>


    <div class="example-wrapper">
        <table>

            <tr>
                <th>DomainName</th>
                <th>Status</th>
                <th>checkDate</th>
            </tr>
            {% for domain in results %}
                <tr>
                    <td>{{ domain.domainName }}</td>
                    <td>{{ domain.result }}</td>
                    <td>{{ domain.checkDate }}</td>
                </tr>
            {% endfor %}
         </table>
    </div>
{% endblock %}
